[submodule "utils"]
	path = utils
	url = https://github.com/forecastingresearch/utils.git
[submodule "experiments/stability-analysis"]
	path = experiments/stability-analysis
	url = https://github.com/forecastingresearch/forecastbench-stability-analysis.git
[submodule "experiments/ranking-simulation"]
	path = experiments/ranking-simulation
	url = https://github.com/forecastingresearch/forecastbench-ranking-simulation.git
