<div class="page__footer-copyright">
  <ul class="page__footer-links">
    {% if site.footer.links %}
  {% for link in site.footer.links %}
  {% if link.label and link.url %}
  <li>
      {% if link.label == "Datasets" %}
        <img src="{{ '/assets/images/footer/huggingface.svg' | relative_url }}" alt="Hugging Face" width="18" height="18" style="padding-bottom:0.25em;">
      {% elsif link.label == "Substack" %}
        <img src="{{ '/assets/images/footer/substack.svg' | relative_url }}" alt="FRI Blog" width="18" height="18" style="padding-bottom:0.25em;">
      {% elsif link.label == "LinkedIn" %}
        <img src="{{ '/assets/images/footer/linkedin.svg' | relative_url }}" alt="LinkedIn" width="18" height="18" style="padding-bottom:0.25em;">
      {% else %}
        <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>
        {% endif %}
        {{link.label_no_link | escape_once | strip}} <a href="{{ link.url }}" rel="nofollow noopener noreferrer">{{ link.label | escape_once | strip }}</a></li>
  {% endif %}
  {% endfor %}
  {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{site.copyright_begin}}&ndash;{{ site.time | date: '%Y' }} <a href="{{ site.fri_url }}">{{ site.fri }}</a>. Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</div>
