<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: #eeebe0;
  color: #020202;
  overflow-x: hidden;
}

header .logo {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 30px;
}

main {
  text-align: center;
  padding: 25px;
  padding-left: 275px;
  padding-right: 275px;
  max-width: 100%;
  overflow-x: hidden;
}
main a {
  text-align: center;
  color: #1b1b1b;
  transition: color 0.6s ease, border-color 0.6s ease;
}
main a:hover {
  color: #e8541a;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
.leaderboard-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.leaderboard-links a {
  color: #1b1b1b;
  background-color: #eeebe0;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
  transition: color 0.6s ease;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.leaderboard-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #1b1b1b;
  transition: background-color 0.6s ease;
}
.leaderboard-links a:hover::after {
  background-color: #e8541a;
}
.leaderboard-links a:hover {
    background-color: #eeebe0;
  color: #e8541a;
}
footer {
  background-color: #1c1c1c;
  color: #eeebe0;
  text-align: center;
  padding: 5px 0px 5px 0px;/*10px 10px;*/
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.8em;
  letter-spacing: 1px;
}
footer a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.6s ease, border-color 0.6s ease;
}
footer a:hover {
  color: #eeebe0;
}
.big-dot {
  font-size: 2em;
  vertical-align: middle;
}
.intro-section {
  text-align: left;
  margin-bottom: 40px;
}
.intro-section h1 {
  margin-bottom: 5px;
}
.intro-section p {
  margin-top: 0;
}
.abstract-section {
  text-align: left;
  margin-left: 60px;
  padding-left: 20px;
  margin-right: 60px;
  border-left: 2px solid #e8541a;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
}
.center-content {
  text-align: center;
}

header {
  background: linear-gradient(135deg, #1b1b1b, #eeebe0 80%);
  color: #eeebe0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 3px;
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}

header .logo-img {
  height: 50px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #1b1b1b;
  background-color: transparent;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.6s ease;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e8541a;
  transition: width 0.6s ease;
}

nav a:hover::after {
  width: 100%;
}

.citation {
  font-family: "Courier New", Courier, monospace;
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x: auto;
  margin-top: auto;
  max-width: 800px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.commit {
  font-family: "Courier New", Courier, monospace;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  color: #1b1b1b;
  padding-right: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-item {
  margin: 0;
  white-space: nowrap; /* Prevent line breaks on larger screens */
}

@media (max-width: 921px) {
  header {
    position: relative;
  }

  header h1 {
    font-size: 1.8em;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #eeebe0;
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 100;
  }

  nav a {
    display: block;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .hamburger {
    display: block;
  }

  .nav-open {
    display: flex;
  }

  main {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .abstract-section {
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 20px;
    border-left: 2px solid #e8541a;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
  }


  .big-dot {
    display: none; /* Hide the dot on small screens, as we will use line breaks instead */
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-item {
    white-space: normal; /* Allow text to break naturally */
    margin: 1px 0;
  }
}

</style>
